<div class="footer">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div>
            <img width="170" alt="Pedagogia Logo" [src]="LOGOPATH" />
        </div>

        <div style="text-align: center; width: 60%;">
            <div style="height: 100%;">
                <div style="height: 80%;">
                    <div style="padding-top: 20px;">

                        <span class="material-icons meio-div">place</span> <span class="meio-div" style="font-size: 20px;">Dom José Gaspar, 500 -
                            Coração Eucarístico, Belo Horizonte - MG, 30535-901</span>
                    </div>
                    <div style="padding-top: 10px;">
                        <span class="material-icons meio-div">home_work</span> <span class="meio-div" style="font-size: 20px; margin-left: 5px;">Prédio 6 (ICH) - Campus Coração Eucarístico</span>
                    </div>
                    <div style="padding-top: 10px;">
                        <span class="material-icons meio-div"> mail </span> <span class="meio-div" style="font-size: 20px;"> assistivapucminas@gmail.com </span>
                    </div>
                    <div style="padding-top: 10px;">
                        <span> <a [href]="face" target="_blank" style="font-size: 20px; color: #001a80;"> Facebook </a> </span> <span class="dot"></span>
                        <span> <a [href]="insta" target="_blank" style="font-size: 20px; color: #001a80;"> Instagram </a> </span> <span class="dot"></span>
                        <span> <a [href]="youtube" target="_blank" style="font-size: 20px; color: #001a80;"> Youtube </a> </span> <span class="dot"></span>
                        <span> <a [href]="portal" target="_blank" style="font-size: 20px; color: #001a80;"> Portal Oficial </a> </span>
                    </div>
                </div>
                <div style="padding-top: 10px;">
                    <span>copyright 2021 - Pontifícia Universidade Católica de Minas Gerais</span>
                </div>
            </div>
        </div>

        <div style="margin: 20px;">
            <img width="150" alt="Puc Logo" [src]="LOGOPUC" />
        </div>
    </div>
</div>