<div class="materiais-interessantes-content" [ngStyle]="ctrl.getContrast()">
    
    <div class="materiais-pesquisa" [ngStyle]="ctrl.getContrast()">
        <div style="text-align:center;">
            <div style="text-align: -webkit-center; display:inline-block; width: 50%;">
                <form>
                    <mat-form-field class="form-field-materiais" appearance="outline">
                      <mat-label style="color: #3f51b5 !important;">Buscar</mat-label>
                      <input matInput [formControl]="campoDeBusca" style="color: #3f51b5 !important;" placeholder="Ex. Tecnologia Assistiva">
                      <button matSuffix mat-icon-button aria-label="Clear" (click)="limparBuscador()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                </form>
            </div>
            <div style="display:inline-block; align-self: center;">
                <button mat-raised-button color="primary" (click)="buscarPor()">Pesquisar</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 110px;">
        
        <mat-tab-group [backgroundColor]="primary" [color]="accent" mat-align-tabs="start" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
            <mat-tab label="LEIS E DOCUMENTOS">
                <div style="margin-top: 20px;">
                    <h2>LEIS, DOCUMENTOS SOBRE INCLUSÃO</h2>
                    <div *ngIf="!esconde">
                        <div *ngFor="let item of dados">
            
                            <div class="card-search" [style.font-size.px]="ctrl.getFontSize()">
                                <div>
                                    <b>Titulo:</b> {{item.title}} - {{item.year}}
                                </div>
                                <div class="card-description">
                                    {{item.description}}
                                </div>
                                <div *ngFor="let link of item.links" style="margin-bottom: 6px;">
                                    <a [href]="link" target="_blank"  [ngStyle]="colorLink()">{{link}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="esconde" class="div-sorry ">
                        <div>
                            <div style="text-align: center; margin-bottom: 50px;">
                                <img class="quadro-imagem" mat-card-image [src]="SORRY" alt="sorry foto" width="200" height="250">
                            </div>
                            <div style="color: #3f51b5; font-size: 20px; text-align: center;">
                                <div style="margin-bottom: 15px;">
                                    <span>
                                        Desculpe, nenhum resultado encontrado para
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        "{{nameTab}}"
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p-paginator *ngIf="!esconde" [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
            </mat-tab>
            
            <mat-tab label="COMUNICAÇÃO ALTERNATIVA">
                <div style="margin-top: 20px;">
                    <h2>COMUNICAÇÃO ALTERNATIVA</h2>
                    <div class="div-sorry ">
                        <div>
                            <div style="text-align: center; margin-bottom: 50px;">
                                <img class="quadro-imagem" mat-card-image [src]="SORRY" alt="sorry foto" width="200" height="250">
                            </div>
                            <div style="color: #3f51b5; font-size: 20px; text-align: center;">
                                <div style="margin-bottom: 15px;">
                                    <span>
                                        Desculpe, nenhum resultado encontrado
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="INCLUSÃO ESCOLAR">
                <div style="margin-top: 20px;">
                    <h2>SOBRE INCLUSÃO ESCOLAR</h2>
                    <div class="div-sorry ">
                        <div>
                            <div style="text-align: center; margin-bottom: 50px;">
                                <img class="quadro-imagem" mat-card-image [src]="SORRY" alt="sorry foto" width="200" height="250">
                            </div>
                            <div style="color: #3f51b5; font-size: 20px; text-align: center;">
                                <div style="margin-bottom: 15px;">
                                    <span>
                                        Desculpe, nenhum resultado encontrado
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="ATENDIMENTO EDUCACIONAL ESPECIALIZADO">
                <div style="margin-top: 20px;">
                    <h2>ATENDIMENTO EDUCACIONAL ESPECIALIZADO</h2>
                    <div class="div-sorry ">
                        <div>
                            <div style="text-align: center; margin-bottom: 50px;">
                                <img class="quadro-imagem" mat-card-image [src]="SORRY" alt="sorry foto" width="200" height="250">
                            </div>
                            <div style="color: #3f51b5; font-size: 20px; text-align: center;">
                                <div style="margin-bottom: 15px;">
                                    <span>
                                        Desculpe, nenhum resultado encontrado
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="T.A. APLICADA A EDUCAÇÃO INCLUSIVA">
                <div style="margin-top: 20px;">
                    <h2>TECNOLOGIA ASSISTIVA APLICADA A EDUCAÇÃO INCLUSIVA</h2>
                    <div class="div-sorry ">
                        <div>
                            <div style="text-align: center; margin-bottom: 50px;">
                                <img class="quadro-imagem" mat-card-image [src]="SORRY" alt="sorry foto" width="200" height="250">
                            </div>
                            <div style="color: #3f51b5; font-size: 20px; text-align: center;">
                                <div style="margin-bottom: 15px;">
                                    <span>
                                        Desculpe, nenhum resultado encontrado
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        
        </mat-tab-group>
    </div>
</div>