<div class="quem-somos-content" [ngStyle]="ctrl.getContrast()">
    <div style="margin-top: 30px;">
        <h1 class="custom-title">QUEM SOMOS</h1>
        <div class="line-scope-text"></div>

        <div style="margin-top: 30px; margin-bottom: 30px;">
            <div class="cards-quem-somos">
                <div style="width: 70%; font-size: 20px; letter-spacing: 2px !important;"
                    [style.font-size.px]="ctrl.getFontSize()">
                    <p>
                        Somos uma equipe multidisciplinar formada por professores da PUC Minas que trabalham com
                        tecnologia assistiva, tanto na pesquisa quanto na extensão na universidade.

                        Desde 2012 iniciamos de forma ainda não organizada em grupo de estudos com o objetivo de prestar
                        assistência via extensão, bem como desenvolver pesquisas e estimular nossos alunos a pesquisar e
                        atuar nessa área.

                        Desde então temos realizado encontros periódicos, projetos interdisciplinares e participado das
                        feiras da engenharia mostrando produtos e recursos em tecnologia assistiva. Além disso, temos
                        disciplinas de tecnologia assistiva aplicada a educação e já tivemos uma especialização em
                        acessibilidade, tecnologia assistiva e inclusão.
                    </p>
                    <p>
                        <b>Eventos realizados:</b>
                        
                        <li style="margin: 5px 20px;">
                            I Workshop de pesquisas e extensão em tecnologia assistiva da PUC Minas – 2013
                        </li>
                        <li style="margin: 5px 20px;">
                            II Workshop de pesquisas e extensão em tecnologia assistiva da PUC Minas - 2015
                        </li>
                        <li style="margin: 5px 20px;">
                            III Workshop de pesquisas e extensão em tecnologia assistiva da PUC Minas – 2017
                        </li>
                        <li style="margin: 5px 20px;">
                            IV Workshop de pesquisas e extensão em tecnologia assistiva da PUC Minas 2021: 29/04 a 30/04
                        </li>

                        O nosso objetivo nesse portal é disseminar as possibilidades de uso da tecnologia na vida de
                        pessoas com deficiências e manter alunos e comunidade atualizados sobre o tema, além de divulgar
                        as iniciativas na PUC Minas na área.
                    </p>
                </div>
                <div [ngStyle]="ctrl.getImagesVisibility()">
                    <img mat-card-image [src]="quemSomosImg" alt="Quem somos">
                </div>
            </div>
        </div>
    </div>

    <div class="bem-vindo">
        Seja bem vindo ao ASSISTIVA: PORTAL DE TECNOLOGIA ASSISTIVA DA PUC MINAS!
    </div>

    <div>
        <div style="margin-bottom: 30px;">
            <h1 class="custom-title">IDEALIZADORES</h1>
            <div class="line-scope-text"></div>
        </div>
        <div class="cards-quem-somos">
            <div *ngFor="let idealizador of idealizadores" style="margin-bottom: 50px;">
                <mat-card class="example-card">
                    <mat-card-header style="height: 90px !important;">
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>{{idealizador.nome}}</mat-card-title>
                        <mat-card-subtitle>{{idealizador.funcao}}</mat-card-subtitle>
                    </mat-card-header>
                    <img class="quadro-imagem" mat-card-image [src]="idealizador.foto" alt="idealizador foto">
                    <!-- <mat-card-content>
                        <p>{{idealizador.descricao}}</p>
                    </mat-card-content> -->
                    <mat-card-actions style="text-align: center;">
                        <button mat-button (click)="navigateToLattes(idealizador.lattes)" class="btn-linkedin">Lattes</button>
                        <button mat-button (click)="navigateToLattes(idealizador.lattes)" class="btn-linkedin">Linked in</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <div>
        <div style="margin-bottom: 30px;">
            <h1 class="custom-title">GRUPO DE PESQUISA DE T.A PUC MINAS</h1>
            <div class="line-scope-text"></div>
        </div>
        <div class="cards-quem-somos">
            <div *ngFor="let pesquisador of pesquisadores1;" style="margin-bottom: 50px;">
                <mat-card class="example-card">
                    <mat-card-header style="height: 90px !important;">
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>{{pesquisador.nome}}</mat-card-title>
                        <mat-card-subtitle>{{pesquisador.funcao}}</mat-card-subtitle>
                    </mat-card-header>
                    <img class="quadro-imagem" mat-card-image [src]="pesquisador.foto" alt="pesquisador foto">
                    <!-- <mat-card-content>
                        <p>{{pesquisador.descricao}}</p>
                    </mat-card-content> -->
                    <mat-card-actions style="text-align: center;">
                        <button mat-button (click)="navigateToLattes(pesquisador.lattes)" class="btn-linkedin">Lattes</button>
                        <button mat-button (click)="navigateToLattes(pesquisador.lattes)" class="btn-linkedin">Linked in</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="cards-quem-somos">
            <div *ngFor="let pesquisador of pesquisadores2;" style="margin-bottom: 50px;">
                <mat-card class="example-card">
                    <mat-card-header style="height: 90px !important;">
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>{{pesquisador.nome}}</mat-card-title>
                        <mat-card-subtitle>{{pesquisador.funcao}}</mat-card-subtitle>
                    </mat-card-header>
                    <img class="quadro-imagem" mat-card-image [src]="pesquisador.foto" alt="pesquisador foto">
                    <!-- <mat-card-content>
                        <p>{{pesquisador.descricao}}</p>
                    </mat-card-content> -->
                    <mat-card-actions style="text-align: center;">
                        <button mat-button (click)="navigateToLattes(pesquisador.lattes)" class="btn-linkedin">Lattes</button>
                        <button mat-button (click)="navigateToLattes(pesquisador.lattes)" class="btn-linkedin">Linked in</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="cards-quem-somos">
            <div *ngFor="let pesquisador of pesquisadores3;" style="margin-bottom: 50px;">
                <mat-card class="example-card">
                    <mat-card-header style="height: 90px !important;">
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>{{pesquisador.nome}}</mat-card-title>
                        <mat-card-subtitle>{{pesquisador.funcao}}</mat-card-subtitle>
                    </mat-card-header>
                    <img class="quadro-imagem" mat-card-image [src]="pesquisador.foto" alt="pesquisador foto">
                    <!-- <mat-card-content>
                        <p>{{pesquisador.descricao}}</p>
                    </mat-card-content> -->
                    <mat-card-actions style="text-align: center;">
                        <button mat-button (click)="navigateToLattes(pesquisador.lattes)" class="btn-linkedin">Lattes</button>
                        <button mat-button (click)="navigateToLattes(pesquisador.lattes)" class="btn-linkedin">Linked in</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>