.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100px;
  z-index: 1001;
  //height: 60px;
  //display: flex;
  //align-items: center;
  //background-color: #1976d2;
  //color: white;
  //font-weight: 600;

  .first-toolbar{
    background-color: #3F51B5;
    color: white;
    height: 40px;
  }
  .second-toolbar{
    //background-color: #4c9cfc;
    background-image: linear-gradient(to bottom right, rgba(0,255,137,0.17), rgba(76, 156, 252, 1));
    color: black;
    height: 60px;
    border-style: solid;
    border-width: thin;
    //border-style: solid
  }
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.spacer {
  flex: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.contents-accessibility{
  display: contents;

  .margin-cascade{
    margin-left: auto;
  }

}

.grid-buttons{
  margin: auto;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr;
}

.outerdiv
{

    margin: 0 auto;
    text-align: center;
}

.innerdiv
{
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

:host ::ng-deep .ui-colorpicker-preview {
  width: 20px !important;
  height: 20px !important;
}

:host ::ng-deep .ui-sidebar {
  width: 400px;
}