<div class="casa-aprender-content" [ngStyle]="ctrl.getContrast()">
    <div style="margin-top: 50px; display: flex; justify-content: center;">
        <div [ngStyle]="ctrl.getImagesVisibility()">
            <img mat-card-image [src]="logocasa" alt="logo casa">
        </div>
        <div style="font-size:40px; margin-block: auto;">
           <b>CASA DO APRENDER</b>
        </div>
    </div>
    <div class="block-text">

        <div [style.font-size.px]="ctrl.getFontSize()" [ngStyle]="ctrl.getContrast()">
            <div>
                <h1 class="custom-title-home">Oficinas de informática e comunicação alternativa projeto de extensão</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" style="width: 65%;" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p style="text-indent: 50px;">
                            O projeto Casa do Aprender surgiu em 2018, a partir de uma construção coletiva do grupo de
                            extensionistas e professores do Rede Incluir (PUC inclusiva) junto aos pais, tendo como proposta
                            ser um espaço de extensão e pesquisa, formação e atendimento para pessoas com deficiência, cuja
                            proposta é contribuir para uma vida com mais qualidade, autonomia e preparação para o trabalho.
                        </p>
                        <p style="text-indent: 50px;">
                            Sua base teórica fundamenta-se na aprendizagem funcional e busca aliar recursos de informática e
                            comunicação alternativa, nesse processo.
                        </p>
                    </div>
                </div>
                <div style="margin: 30px 0;" [ngStyle]="ctrl.getImagesVisibility()">
                    <img mat-card-image [src]="oficinainformatica" alt="Maos human robot" width="350">
                </div>
            </div>
        </div>

    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">

        <div [style.font-size.px]="ctrl.getFontSize()">
            <div>
                <h1 class="custom-title-home">O QUE É O PROJETO?</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div [ngStyle]="ctrl.getImagesVisibility()">
                    <img mat-card-image [src]="oquee" alt="Maos human robot" width="150">
                </div>

                <div class="common-format" style="width: 65%;">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p style="text-indent: 50px;">
                            O projeto tem sido desenvolvimento como um projeto de extensao que busca atender a demanda de
                            pessoas com deficiência do atual PUC Inclusiva que ainda não se encontram preparadas para um
                            projeto de capacitação para o trabalho, como é oferecido nesse projeto.
                        </p>
                        <p style="text-indent: 50px;">
                            O projeto visa oferecer aos jovens adultos com deficiência intelectual, motora, Transtorno do
                            Espectro Autista e entre outras especificidades, a possibilidade de continuarem com a
                            aprendizagem funcional através de recursos de informática e Comunicação Alternativa, garantindo
                            maior autonomia e empoderamento, ampliando assim, suas perspectivas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="common-format">
                <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                    O empenho e a expectativa da equipe de professores e alunos da graduação em pedagogia,
                    fonoaudiologia e outras áreas é de que tais ações permitam desenvolver o empoderamento e qualificar
                    ainda mais para o trabalho e/ou atividade ocupacional dessas pessoas com deficiência.
                </p>
            </div>
            <div class="common-format" [ngStyle]="ctrl.getContrast()">
                <li style="margin-top: 30px;">
                    <b>COMO ELE FUNCIONA</b>
                </li>
                <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                    O jovem PCD tem a oportunidade de desenvolver através de atendimentos individuais e semanais com nossa
                    equipe de extensionistas, sua capacidade de raciocínio, desenvolvendo suas habilidades de aprendizagem
                    com recursos de informática, Tecnologia Assistiva e Comunicação Alternativa. Nossa meta é também
                    melhorar a comunicação e produtividades desses jovens adultos.
                </p>
            </div>
        </div>

    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">

        <div [style.font-size.px]="ctrl.getFontSize()">
            <div>
                <h1 class="custom-title-home">O NOSSO OBJETIVO</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" style="width: 65%;" [style.font-size.px]="ctrl.getFontSize()" [ngStyle]="ctrl.getContrast()">

                    <p style="text-indent: 50px;">
                        Essa proposta tem como o objetivo possibilitar maior autonomia e independência ao aluno.
                    </p>
                    <p style="text-indent: 50px;">
                        Além disso, avaliamos as possibilidades de comunicação e uso de Tecnologia Assistiva atuais desse
                        usuário e levantamos possibilidades de trabalhos e ações para desenvolver melhor seu potencial.
                    </p>
                    <p style="text-indent: 50px;">
                        A primeira etapa do atendimento à pessoa inscrita no projeto, compreende um levantamento de suas
                        demandas, juntamente com seus familiares, para que seja elaborada uma proposta de trabalho com
                        enfoque em cada um dos aspectos funcionais de seu dia a dia.
                    </p>
                    <p style="text-indent: 50px;">
                        Concluído o levantamento de demandas, é iniciada a construção do Plano de Trabalho Individualizado
                        (PTI), que consiste na definição do número de atendimentos semanais, a carga horária de atividade e
                        as tarefas que serão realizadas pelo jovem com deficiência junto aos extensionistas no Laboratório
                        de Tecnologia Assistiva do ICH.
                    </p>
                    <p style="text-indent: 50px;">
                        Neste Plano de Trabalho Individualizado (PTI) é elaborada o cronograma semestral de atividades,
                        contendo a previsão de vínculo da PCD na Casa do Aprender, respeitando a previsão mínima (03 meses)
                        e máxima (10 meses).
                    </p>
                    <p style="text-indent: 50px;">
                        Ao final de cada ciclo semestral é realizado uma nova avaliação dos resultados alcançados por meio
                        de um novo diagnóstico de habilidades desenvolvidas.
                    </p>
                </div>
                <div>
                    <div style="margin: 30px;" [ngStyle]="ctrl.getImagesVisibility()">
                        <img mat-card-image [src]="comofunciona" alt="comofunciona" width="350">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>