<div style="height:100vh; width: 1000px; margin-top: 100px;">
    <div style="text-align: center; margin-bottom: 50px;">
        <!-- INÍCIO DO CONTEÚDO -->
        <div style="width: 100%; display: flex;">
            <div class="login-content">
                
                <div class="title-login">
                    <b>Portal Assistiva</b> | Login
                </div>
        
                <div>
                    <!-- <form formGroup="loginForm" > -->
                    <div style="padding-bottom: 20px; text-align: -webkit-center;">
                        <input type="email" class="form-control input-login" placeholder="Email">
                    </div>
                    <div style="padding-bottom: 20px; text-align: -webkit-center;">
                        <input  type="password" class="form-control input-login" placeholder="Senha">
                    </div>
                    <div class="row">
                        <div style="text-align: right; margin-right: 45px;">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">Entrar</button>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        
    </div>
</div>