<div class="trabalohs-ta-content" [ngStyle]="ctrl.getContrast()">

    <div style="margin-top: 50px; display: flex; justify-content: center; margin-bottom: 50px;">
        <div style="font-size:40px; margin-block: auto;" [ngStyle]="ctrl.getContrast()">
            <b>TRABALHOS DE T.A.</b>
        </div>
    </div>

    <div class="block-text">
        <div  [ngStyle]="ctrl.getContrast()">
            <div>
                <h1 class="custom-title-home">PORTAL ASSISTIVA</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Prof. Dr. Pietrobon, Lauro Milagres e Profª Nivânia Reis</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            O avanço tecnológico promoveu diversas transformações na sociedade e proporcionou diversas
                            facilidades para a vida cotidiana das pessoas. No entanto, os indivíduos que possuem alguma
                            deficiência não conseguem usufruir de todos os benefícios advindos da tecnologia.
                            A falta de entendimento sobre as necessidades especiais de pessoas com deficiência, é um
                            obstáculo para que esses indivíduos sejam melhor inseridos no mundo virtual.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Atualmente, cerca de 99% dos sites brasileiros apresentam barreiras de acessibilidade.
                            Assim, objetivando promover maior inclusão digital
                            e permitir um melhor acesso aos recursos humanos e tecnológicos da PUC por pessoas com
                            diversos tipos de limitação, esse trabalho se propõe a desenvolver
                            um portal para professores, alunos, demais membros da comunidade acadêmica e indivíduos
                            externos a universidade, utilizando tecnologia assistiva.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link1" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/drive/folders/1_ToFEQCUB1lR_ncv9Odoxy2schx7b85f?usp=sharing</a>
                            </li>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">PORTA COM CARTÃO PARA PESSAS COM DEFICIÊNCIA VISUAL</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Prof.ª Dr.ª Renata Umbelino e Bruno Leal Fonseca</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Pesquisas realizadas pela Organização Mundial da Saúde (OMS) indicam há possibilidade de
                            termos alcançado em 2020 75 milhões de pessoas cegas e mais de 225 milhões de portadores de
                            baixa visão no mundo. No Brasil, de acordo com o censo demográfico de 2020 temos 506.377
                            pessoas que não conseguem ver de modo algum e 5.466.219 com grande dificuldade e 29.211.482
                            com alguma dificuldade de visão.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            A partir disso e a fim de contribuir para amenizar as dificuldades das pessoas com
                            deficiência visual, foi criado esse projeto com recurso de baixo custo, o que possibilita o
                            acesso para maioria da população.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link2" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/drive/folders/1JLU7G02-hyYLZs7VIhenVSZ2e0xB36py?usp=sharing</a>
                            </li>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">DESENVOLVIMENTO E ANÁLISE DINÂMICA DE UM CONJUNTO PARA MOTORIZAÇÃO DE
                    CADEIRAS DE RODAS</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Prof. Claysson Vimiero e Gabriel Goulart</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Existem várias formas de ingresso na sociedade de pessoas portadoras de necessidades
                            especiais.
                            Por esta razão a acessibilidade está presente no intuito de permiti-las viver com
                            mais comodidade ou menos obstáculos no dia a dia. O trabalho presente enfatiza um dos tipos
                            mais comuns de portadores de deficiência: a paraplegia.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            A cadeira de rodas se faz presente na vida destas pessoas como principal meio de locomoção,
                            por isto, durante vários anos ela vem sendo desenvolvida e existem vários tipos deste
                            produto no mercado.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Um kit adaptável transformando-a em triciclo elétrico possibilita ao cadeirante deslocar
                            distâncias maiores num menor tempo,
                            ganhando mais qualidade de vida. E quanto a nova estrutura desenvolvida, o que a diferencia
                            das demais já existentes, é a
                            possibilidade de guardá-la ao lado da cadeira e os vários ajustes de ergonomia ao usuário.
                            Através do projeto de uma estrutura desse kit e
                            uma análise dinâmica da mesma é possível avaliar o conforto que o usuário terá ao utilizar
                            este acessório.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link3" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/file/d/1QkysLrgheIFhmQ_P72u_dcxPIkeNwm5c/view?usp=sharing</a>
                            </li>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">LEVITRONIC</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;">
                        <p>
                            <b>Prof. Dr. Claysson Vimiero e mestrando Alex Sander Almeida Viana</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            A qualidade de vida está diretamente ligada ao bem-estar biopsicossocial sendo a prática
                            regular de atividade física é um fator muito importante para se alcançar este estado de
                            saúde. Historicamente as PCD são excluídas
                            e privadas de atividades de lazer e de práticas físicas regulares.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Muitas vezes a dificuldade encontradas por estas pessoas está na
                            acessibilidade do local para a prática esportiva e neste
                            contexto a tecnologia assistiva surge como uma possibilidade para solucionar problemas de
                            acessibilidade.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Segundo a Organização Mundial de
                            Saúde a tecnologia assistiva e os dispositivos de mobilidade permitem que as pessoas com
                            deficiência alcancem mobilidade pessoal. O acesso a
                            esses dispositivos é uma pré-condição para se alcançar igualdade de oportunidades, desfrutar
                            dos direitos humanos e viver com dignidade.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            O Projeto Qualidade de Vida para Todos é um projeto de extensão universitária realizado na
                            Pontifícia Universidade Católica de Minas Gerais
                            (PUC-MG), que promove a prática de atividade aquática para pessoas com deficiência em uma
                            piscina não adaptada, uma realidade encontrada em
                            muitas piscinas no país.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Devido a dificuldades de proporcionar o acesso à piscina, sem ter
                            um processo padronizado para promover a transferência
                            de forma segura, foi desenvolvido um dispositivo para realizar as transferências para
                            entrada e saída da mesma, bem como a técnica para a
                            sua correta utilização.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link4" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/drive/folders/1YvjZQ-0tTr14ptY0C4ZQ1SDvDAncNegt?usp=sharing</a>
                            </li>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">ACESSIBILIDADE NA PISCINA</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Prof. Cláudio Campos, Prof.ª Claudia Barsant e Túlio Fernandes de Almeida</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            O avanço tecnológico promoveu diversas transformações na sociedade e proporcionou diversas
                            facilidades para a vida cotidiana das pessoas.
                            No entanto, os indivíduos que possuem alguma deficiência não conseguem usufruir de todos os
                            benefícios advindos da tecnologia.
                            A falta de entendimento sobre as necessidades especiais de pessoas com deficiência, é um
                            obstáculo para que esses indivíduos sejam melhor inseridos no mundo virtual.
                        </p>

                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Atualmente, cerca de 99% dos sites brasileiros apresentam barreiras de acessibilidade.
                            Assim, objetivando promover maior inclusão digital
                            e permitir um melhor acesso aos recursos humanos e tecnológicos da PUC por pessoas com
                            diversos tipos de limitação, esse trabalho se propõe a desenvolver
                            um portal para professores, alunos, demais membros da comunidade acadêmica e indivíduos
                            externos a universidade, utilizando tecnologia assistiva.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link5" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/drive/folders/18y7NHAaDha8OM1YfY1CQT-9yQoIlYOPN?usp=sharing</a>
                            </li>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">IVISION - SISTEMAS DE TECNOLOGIA ASSISTIVA</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Ruan Carlos Porto Moreira, Vinicius de Jesus Ferreira e Prof.ª Dr. ª Cleia Marcia Gomes
                                Amaral</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            A comparação de oportunidades, de tratamentos e de resultados entre indivíduos durante o
                            ensino fundamental, apresenta divergências ao
                            considerar-se estudantes que apresentam algum tipo de deficiência visual e estudantes
                            videntes. Devido isso, a pesquisa visa desenvolver
                            uma aplicação com assistência a deficientes visuais de modo a propiciar isonomia
                            educacional.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Através de coleta de dados por buscas em artigos,
                            serão recolhidos requisitos que auxiliem na montagem da aplicação, que, será realizada com o
                            acompanhamento do público-alvo, ou seja,
                            deficientes visuais.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link6" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/file/d/1mcb1sM6YNI8Mq5LnPae0JFqH44X3U9ua/view?usp=sharing</a>
                            </li>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">REPOSITÓRIO DIGITAL NA EDUCAÇÃO: TECNOLOGIAS ASSISTIVAS ONLINE</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Elisangela Lopes Costa, Lucas Duarte Rocha e Profª. Drª Cleia Marcia Gomes Amaral</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Atualmente é possível encontrar diversas ferramentas que auxiliam pessoas com deficiência
                            (PCDs), dentre estas, obtém-se várias tecnologias
                            que são grandes aliadas a este público.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            A inclusão digital e social é um grande desafio para todos os setores, inclusive
                            educacionais,
                            e os principais afetados são PCDs. Com este motivo em vista, o incentivo à informação e a
                            divulgação foram os motivadores para contrapor
                            a realidade não inclusiva.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Neste artigo, foi realizada a construção do repositório
                            Tecnologias Assistivas Online que auxiliam no processo
                            de aprendizado. Com isto, PCDs encontrarão maior facilidade de acesso a aplicativos
                            educativos o que implicará na inclusão social e digital
                            destas pessoas.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link7" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/drive/folders/1LeLXzk9i-y5zWiaz2SZoPBmi_vZl4ZpT?usp=sharing</a>
                            </li>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="block-text" [ngStyle]="ctrl.getContrast()">
        <div>
            <div>
                <h1 class="custom-title-home">MÃO REPRODUTORA DE LIBRAS: auxílio para portadores de necessidade
                    especiais</h1>
            </div>
            <div class="line-scope-text"></div>
            <div class="justify-home-page">
                <div class="common-format" [style.font-size.px]="ctrl.getFontSize()">
                    <div style="margin: 60px 0;" [ngStyle]="ctrl.getContrast()">
                        <p>
                            <b>Prof. Dr. Mário Guimarães Buratto e Gleika Souza Soares</b>
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            O projeto Mão Reprodutora de Libras propõe o desenvolvimento de uma mão como ferramenta para
                            o ensinamento da Língua Brasileira de Sinais.
                            Apresenta um método dinâmico e diferenciado visando a utilização em escolas públicas e/ou
                            particulares.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            Para o progresso desse projeto foram feitas diversas pesquisas em fontes variadas com o
                            intuito de conceber um produto útil
                            e diferente dos existentes no mercado.
                            O projeto terá uma estrutura de uma mão humana com fios de nylon para dar-lhe movimentos, e
                            contará com a alimentação da rede para a ligação dos motores, teclado para acionamento das
                            letras à reproduzir, módulo do Arduino Uno
                            de 6 entradas analógicas (5V), 6 entradas/saídas PWM e 8 entradas/saídas digitais e, um
                            teclado virtual via bluetooth.
                        </p>
                        <p style="text-indent: 50px;" [ngStyle]="ctrl.getContrast()">
                            A Mão Tradutora de Libras é programada através do software próprio do Arduino, utilizando a
                            linguagem C++. Este projeto oferece inovação no treinamento da língua de sinais no setor
                            educacional. Por se tratar de um objeto
                            atraente devido a sua aparência, permitirá uma facilidade no entendimento e aprendizado da
                            língua de sinais.
                        </p>
                        <p>
                            Mais detalhes em:
                            <br>
                            <li>
                                <a [href]="link8" target="_blank"  [ngStyle]="colorLink()">https://drive.google.com/file/d/1e1eR8CzXwuKG-5Ig-Tmt3yBmFEWmIccv/view?usp=sharing</a>
                            </li>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>